.NewArmyModal {
  display: flex;
  flex-direction: column;
  width: 400px;
  align-items: center;

  div:first-child {
    margin-top: 10px;
    font-size: 18px;
  }

  button {
    margin-top: 5px;
    cursor: pointer;
  }
}
