.AllArmiesList {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  .ArmiesList {
    display: flex;
    flex-direction: column;
    align-items: center;

    * + * {
      margin-top: 15px;
    }
  }
}
