.ArmyCreation {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .ArmyCategory {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .ArmyCategoryHeader {
      display: flex;
      align-items: center;
      justify-content: normal;
      gap: 20px;

      .ArmyCategoryTitle {
        font-size: 20px;
        font-weight: bold;
      }

      .ArmyCategoryAddButton {
        width: 20px;
        height: 20px;
      }
    }

    .ArmyCategoryUnits {
      display: grid;
      grid-template-columns: 20% 10% 30% 10%;

      div {
        border: 1px solid black;
        border-top: none;
        border-left: none;
        padding: 10px;

        &:nth-child(4n+1) {
          border-left: 1px solid black;
        }

        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4) {
          border-top: 1px solid black;
          border-bottom: 2px solid black;
        }
      }
    }
  }
}

.AddUnitModal {
  display: flex;
  flex-direction: column;
  width: 400px;
  align-items: center;

  .AddUnitModalTitle {
    margin-top: 10px;
    font-size: 18px;
  }

  .AddUnitModalButton {
    margin-top: 5px;
    cursor: pointer;
  }
}
