.Button {
  background-color: brown;
  font-weight: bold;
  color: white;
  border: none;
  padding: 5px;
  box-shadow: 0 0 5px black, 0 0 3px black;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:active {
    box-shadow: none
  }
}
