.Button {
  background-color: #a52a2a;
  font-weight: bold;
  color: white;
  border: none;
  padding: 5px;
  box-shadow: 1px 1px 1px black;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &.round {
    border-radius: 50%;
  }

  &:enabled:active {
    box-shadow: 0 0 1px black;
  }

  &:disabled {
    background-color: gray;
    box-shadow: none
  }
}
