.UnitLineQuantity {
  display: flex;
  gap: 10px;

  > button {
    width: 20px;
  }

  .UnitLineQuantityInput {
    width: 30px;
  }
}

.AddOptionModal {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}
