.UnitLineName {
  display: flex;
  align-items: center;
  gap: 10px;
}

.UnitLineQuantity {
  display: flex;
  justify-content: space-between;
  align-items: center;

  > button {
    width: 20px;
    height: 20px;
  }

  .UnitLineQuantityInput {
    height: 24px;
    width: 50%;
    min-width: 24px;
  }
}
