.UnitLineQuantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  > button {
    width: 20px;
    height: 26px;
  }

  .UnitLineQuantityInput {
    height: 24px;
    width: 50%;
    min-width: 24px;
  }
}

.UnitLineOptions {
  display: flex;
  border: 2px solid red;
  padding: 0;
  gap: 20px;

  .UnitLineOptionsList {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .Option {
      display: flex;
      gap: 10px;
    }
  }
}


.AddOptionModal {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}
